<template>
    <div>
        <div v-if="session" class="alert alert-success" role="alert">
            {{ message }}
        </div>
        <label for="name">Введите название комнаты</label>
        <input v-model="formData.name" class="form-control" id="name">
        <button @click="save" class="btn btn-primary mt-4">Сохранить</button>
    </div>
</template>



<script>
export default {
    data(){
        return {
            formData:{name:''} ,
            message: '',
            session: false,
        }
    },
    methods: {
        save(){
            if (this.formData.name) {
                this.isLoading = true;
                window.axios.post('/api/room', this.formData).then(savedRoom=>{
                    this.message = savedRoom.data;
                    this.formData.name = '';
                    this.session = true;
                });
            }
        }
    }
}
</script>



<style scoped>

</style>