<template>
    <div>
        <div v-if="empty" class="alert alert-success" role="alert">
            <p style="font-size:18px;">{{ message }}</p>
        </div>
        <div v-show="partnersShow" id="myModal" class="modal">
            <div class="modal-content">
                    <ul v-if="partnersRoom.length != 0" class="list-group">
                        <li class="list-group-item" v-for="(p, index) in partnersRoom" :key="index">
                            {{index+1}}) {{p.name}}
                        </li>
                    </ul>
                    <p v-else>В этом совещании отсутсвуют участников!</p>
                <div class="modal-footer mt-4">
                    <button @click="close()" class="btn btn-primary">Закрыть</button>
                </div>
            </div>
        </div>
        <div v-show="modal" id="myModal" class="modal">
            <div class="modal-content">
                <div v-if="session" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                <h4>Забронировать от!</h4>
                <datetime format="YYYY-MM-DD H:i:s" width="300px" v-model="formData.start"></datetime>
                <h4>Забронировать до!</h4>
                <datetime format="YYYY-MM-DD H:i:s" width="300px" v-model="formData.finish"></datetime>
                <div class="mt-4">
                    <input class="input form-control" type="text" v-model="partner">
                    <button @click="addPartner()" class="btn bg-success">Добавить участника</button>
                    <div class="mt-2" v-for="(p, index) in partners" :key="index">
                        {{index+1}}. {{p}} 
                        <button class="btn bg-danger" @click="removePartner(index)">X</button>
                    </div>
                </div>
                <div class="modal-footer mt-5">
                    <button @click="close()" class="btn btn-primary">Закрыть</button>
                    <button @click="save()" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 div">
                <div class="row">
                    <div v-for="(room, index) in rooms" :key="index" class="col-12 room">
                        <div v-if="index < 8" class="row">
                            <ul class="list-group">
                                <li class="list-group-item d-flex  justify-content-right">
                                    <p>Комната: {{room.title}}</p>
                                    <div class="iconscontainer">
                                        <div>
                                            <p id="span" style="font-size:7px;margin-top:7px;" @click="showModal(room.id, room.title)">
                                                <i style="font-size:26px;" class="fa fa-plus mr-2 text-success"></i>
                                                <span class="span1">Забронирование комнать</span>
                                            </p>
                                        </div>
                                        <div>
                                            <p id="span2" style="font-size:7px" @click="timeTable(room.id, room.title)">
                                                <i style="font-size:26px; margin-left:16px;margin-top:7px;" class="fa fa-table text-danger"></i>
                                                <span class="span2">Расписание</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="calendar" class="col-md-8 div ml-5">
                <p style="font-size:24px;">{{room_title}}</p>
                <FullCalendar
                    ref="fullCalendar"
                    defaultView="dayGridMonth"
                    :header="{
                        left: 'prev,next',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    }"
                    :plugins="calendarPlugins"
                    :weekends="calendarWeekends"
                    :events="calendarEvents"
                    @eventClick="showPartner"
                    locale='ru'
                    :buttonText="buttonText"
                />
            </div>
        </div>
    </div>
</template>



<script>
import datetime from 'vuejs-datetimepicker';
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
export default {
    data(){
        return{
            calendarPlugins: [ // plugins must be defined in the JS
                dayGridPlugin,
                timeGridPlugin,
                interactionPlugin // needed for dateClick
            ],
            calendarWeekends: true,
            calendarEvents: [],
            rooms: [],
            room_title: '',
            partner: '',
            partners: [],
            formData: {room_id: null, room_title: '', start: null, finish: null, partners: []},
            modal: false,
            session: false,
            partnersShow: false,
            partnersRoom: [],
            calendar: true,
            empty: false,
            buttonText:{
                today:    'today',
                month:    'месяц',
                week:     'неделя',
                day:      'день',
                list:     'list'
            },
        }
    },
    created() {
        this.getRooms();
    },
    methods:{
        getRooms(){
            window.axios.get('/api/room').then(({data})=>{
                data.forEach(room => {
                    this.rooms.push(room);
                });
            });
        },
        toggleWeekends() {
            this.calendarWeekends = !this.calendarWeekends // update a property
        },
        showPartner(arg) {
            console.log(+arg.event.id);
            this.partnersShow = true;
            this.calendar = false;
            window.axios.get(`member/show/partners/${Number(arg.event.id)}`).then(({data})=>{
                data.forEach(row => {
                    this.partnersRoom.push(row);
                });
            });
        },
        timeTable(id, title){
            console.log(id);
            this.room_title = title;
            this.calendarEvents.splice(0, this.calendarEvents.length);
            window.axios.get(`/rooms/show_time_table/${id}`).then(({data})=>{
                data.forEach(event => {
                    this.calendarEvents.push(
                            {
                                id: event.id,
                                title:event.room_title,
                                start: event.booking_start, 
                                end: event.booking_finish
                            }
                        );
                });
                if(data.length == 0){
                    this.empty = true;
                    this.message = "Комнату ещё не забронировали!";
                }else{
                    this.empty = false;
                    this.message = "";
                }
            });
        },
        showModal(id, title){
            this.modal = true;
            this.calendar = false;
            this.session = false; 
            this.formData.room_id = id;
            this.formData.room_title = title;
        },
        addPartner(){
            this.partners.push(this.partner);
            this.partner = '';
        },
        removePartner(index){
            this.partners.splice(index, 1);
        },
        save(){
            this.formData.partners = this.partners;
            if (this.formData.start && this.formData.finish) {
                window.axios.post('/rooms/reservation', this.formData).then(savedRoom=>{
                    this.session = true;
                    this.message = savedRoom.data;
                    //setTimeout(function () { this.session = false }, 1500)
                });
            }
        },
        close(){
            this.modal = false;
            this.session = false;
            this.calendar = true;
            this.partnersShow = false;
            this.partnersRoom.splice(0, this.partnersRoom.length);
        },
    },
    components: { datetime, FullCalendar },
}
</script>



<style  lang='scss'>
// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
.div{
    margin-top: 24px;
    background: white;
    text-align: center;
    padding-top: 34px;
    display: inline-block;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.div p{
    font-size: 22px;;
}
.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.demo-app-top {
  margin: 0 0 3em;
}
.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

/* The Modal (background) */
.modal {
  /* Hidden by default */
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top:0;
  right: 0;
}
input{
    border-radius: 5px;
}
.input{
    width:40%;
    float: left;
    margin-right: 12px;
}
.buttonWidth{
    width:70px;
}
.iconscontainer {
  position: relative;
  margin: 0 5em;
  display: flex;
  align-items: center;
  height: 100%;

    .span1, .span2 {
      position: absolute;
      top: 60%;
      left: -24%;
      margin-top: 10px;
      padding: .55rem 1rem;
      font-size: 1rem;
      font-weight: 500;
      white-space: nowrap;
      color: #000;
      border-radius: 50px;
      background-color: #fff;
      box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07);

      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      z-index: 99999999;
    }
    .span2{
        left: 75%;
    }
    #span:hover {
      .span1 {
        top: 100%;
        opacity: 0.9;
      }
    }
    #span2:hover {
      .span2 {
        top: 100%;
        opacity: 0.9;
      }
    }
  }

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

</style>