<template>
    <div>
        <div v-if="session" class="alert alert-success" role="alert">
            {{ message }}
        </div>
        <label for="name">Введите название комнаты</label>
        <input  class="form-control" id="name" v-model="formData.title">
        <button v-if="id != null" @click="update()" class="btn btn-primary mt-4">Сохранить</button>
        <button v-else @click="save()" class="btn btn-primary mt-4">Сохранить</button>
    </div>
</template>



<script>
export default {
    props:['title', 'id'],
    data(){
        return {
            formData:{title:this.title, id: null} ,
            message: '',
            session: false,
        }
    },
    methods: {
        update(){
            this.formData.id = this.id;
            if (this.formData.title && this.formData.id) {
                window.axios.patch(`/api/room/${this.id}`, this.formData).then(savedRoom=>{
                    this.message = savedRoom.data;
                    this.session = true;
                });
            }
        },
        save(){
            if (this.formData.title) {
                window.axios.post('/room', this.formData)
                .then(savedRoom=>{
                    this.message = savedRoom.data;
                    this.formData.title = '';
                    this.session = true;
                })
                .catch(error => {
                    if (error.response.status == 422) {
                        this.message = "Такая комната уже существует!";
                        this.session = true;
                    }
                });
            }
            //console.log(this.formData.title);
        }
    }
}
</script>



<style scoped>

</style>